body {
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Con{
    width: 30vw;
    margin: auto;
}
.Con>h1{
    font-size: 1.5vw;
    border-bottom: 1px solid #ccc;
    padding: 0.5vw 0;
}
.Con>ul{
    padding: 0;
    list-style: none;
}
.Con li{
    line-height: 1.5;
}
.Con li>span.done{
    text-decoration: line-through;
    color: #ccc;
}
.Con input[type="text"]{
    padding: 0.25vw;
}
.Con>p{
    color: #ddd;
}
.batsu{
    font-size: 0.75vw;
    cursor: pointer;
    color: red;
}
button{
    float: right;
}
