body {
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Con{
    width: 30vw;
    margin: auto;
}
.Con h1{
    border-bottom: 1px solid #ccc;
    padding: 0.5vw 0;
}
.Con li{
    line-height: 1.5;
}
.Con input[type="text"]{
    padding: 0.25vw;
}
